/* ===== RESET GERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  padding-top: 110px; /* espaço pro header fixo */
}

/* ===== CABEÇALHO ===== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f2833;
  color: #66fcf1;
  text-align: center;
  padding: 15px 0 5px 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

header h1 {
  margin: 0;
  font-size: 28px;
}

/* ===== MENU ===== */
nav {
  margin-top: 8px;
  display: flex;
  justify-content: center; /* deixa os três no meio */
  align-items: center;
  gap: 50px; /* espaço entre os itens */
}

nav a {
  text-decoration: none;
  color: #c5c6c7;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #66fcf1;
}

/* ===== CORPO ===== */
body {
  font-family: Arial, sans-serif;
  background-color: #0b0c10;
  color: #c5c6c7;
  padding-top: 120px; /* compensa o header fixo */
  margin: 0;
}

/* ===== SEÇÃO DESTAQUE ===== */
.catalogo.destaque {
  background-color: #0b0c10;
  padding: 40px 0;
  text-align: center;
}

.catalogo.destaque h2 {
  color: #66fcf1;
  margin-bottom: 20px;
}

.catalogo.destaque .linha-jogos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.game.grande {
  background: #1f2833;
  border: 2px solid #45a29e;
  border-radius: 10px;
  width: 260px;
  text-align: center;
  color: #c5c6c7;
  transition: transform 0.3s;
}

.game.grande img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

/* ===== SEÇÃO SECUNDÁRIA ===== */
.catalogo.secundario {
  background-color: #141e27;
  padding: 70px 0;
  text-align: center;
}

.catalogo.secundario h2 {
  color: #45a29e;
  margin-bottom: 20px;
}

.catalogo.secundario .linha-jogos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.game.pequeno {
  background: #1b2735;
  border: 1px solid #45a29e;
  border-radius: 8px;
  width: 190px;
  text-align: center;
  color: #c5c6c7;
  transition: transform 0.3s;
}

.game.pequeno img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

/* ===== BOTÃO COMPRAR ===== */
.comprar {
  margin-top: 10px;
  background-color: #45a29e;
  border: none;
  padding: 8px 15px;
  color: #0b0c10;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.comprar:hover {
  background-color: #66fcf1;
  transform: scale(1.05);
}


/* ===== FOOTER ===== */
footer {
  text-align: center;
  background-color: #1f2833;
  padding: 15px 0;
  color: #c5c6c7;
  margin-top: 30px;
}
